body{
    margin: 0px;
}
header{
    margin: 0px;
    /* width: 100%; */
    padding: 0px;
    background-color:darkblue;
    /* position:absolute; */
}

header h1{
    text-align: center;
    font-size: 0px;
}
header img{
    height: 50vh;
}
nav{
    background-color:#0009;
  
    width: 100%;
    /* height: 80px; */
    position: fixed;
 
     
    
}
nav ul {
    float:right;
}
nav ul li 
{ list-style: none;
    margin: 10px;
    display: inline-block;
    /* float:right; */

}
nav a {
    text-decoration: none;
    padding: 10px;
    /* text-align: right; */
    /* float:left; */
   color:white; 
}
nav a:hover{
    color: tomato;
    /* background-color: tomato; */
}
nav input{
    margin: 10px;
    padding: 10px;
    /* display:inline-block; */
     
    /* float:right; */
}

nav img {
    float: left;
    margin: 5px;
    /* background-color: yellow; */
}
 
main {
    
    text-align: center;
}
main div {
    /* background-color:darkgreen; */
    text-align: center;
}
section{
    width: 70%;
  
    padding: 20px;
    /* background-color: greenyellow; */
    min-height:75vh ;
     /* margin: 10px;  */
    border: solid black;
    float:right;

    overflow: scroll;
     
}

aside{
    /* margin-top: 10px;  */
    width: 25%;
   float:left; /* check */
   min-height:80vh ;
   /* display: block; */
   /* position:center; */

    
   background-color: goldenrod;
   
}  

 
 /* .img-container{
     column-gap: 20px;
 } */

 table,
 tr,
 th,
 td{
     border: 2px solid black;
   border-collapse: collapse;
   padding: 10px;
   border-spacing: 5px;
    }
 

footer {
    background-color: rgb(206, 54, 54);
    /* overflow: hidden; */
    /* bottom: 0; */
    /* background-color: #333;
   display: flex;
    position: fixed;
    bottom:0px;
    left: 0;
    right: 0; */
    /* overflow: hidden; */
}
footer {
    background-color: #333;
    /* overflow: hidden; */
    clear: both;
    display: flex;
    text-align: center;
     /* padding: 20px; */
}

footer a {
    text-decoration: none;
    padding: 40px;
    /* margin: 20px; */
    text-align: center;
    float: center;
    color: white;
}